<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <EnvironmentName>Production</EnvironmentName>
	  <PublishDir>$(MSBuildProjectDirectory)\bin\Release\net10.0\linux-arm64\</PublishDir>
  </PropertyGroup>
</Project>
