<div class="flip-pane" [class.flipping]="isFlipping">
  <div class="pane-half pane-top">
    <span class="pane-text">{{ currentValue }}</span>
  </div>

  <div class="pane-half pane-bottom">
    <span class="pane-text">{{ isFlipping ? nextValue : currentValue }}</span>
  </div>

  @if (period) {
    <span class="period">{{ period }}</span>
  }

  @if (isFlipping) {
    <div class="pane-half flap-top" (animationend)="onAnimationEnd()">
      <span class="pane-text">{{ currentValue }}</span>
    </div>

    <div class="pane-half flap-bottom">
      <span class="pane-text">{{ nextValue }}</span>
    </div>
  }
</div>